<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Blog</title>
    <link rel="stylesheet" href="../css/home.css">
</head>

<body>
        <header>
                <nav class="main-nav">
                    <ul class="nav-links">
                        <li><a class="links" href="/">Home</a></li>
                        <li><a class="links" href="/post/">Posts</a></li>
                        <li><a class="links" href="/author/">Authors</a></li>
                        <li><a class="links" href="/genre/">Genres</a></li>
                        <li><a class="links" href="/tag/">Tags</a></li>
                    </ul>
                </nav>
                <section class="hero-image-2nd">
                </section>
            </header>

    <main>
        <section class="section author-button">
            <form method="get" action="/author/addAuthor">
                <button type="submit">Add Author</button>
            </form>
        </section>
        <section class="section author-section">
            <div class="container author-container" th:each="specificAuthor : ${authors}">
                <a class="id author-id" th:href="@{|/author/${specificAuthor.id}|}">
                    <h2 class="author-name" th:text="|${specificAuthor.name}|">Author Name</h2>
                </a>
                <p class="author__post-section">Posts:</p>
                <ul class="author-postlist" th:each="post : ${specificAuthor.posts}">
                    <li class="author-post">
                        <a class="author-post-anchor" th:href="@{|/post/${post.id}|}" th:text="${post.title}">Posts</a>
                    </li>
                </ul>
            </div>
        </section>
    </main>
</body>

</html>