<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Blog</title>
    <link rel="stylesheet" type="text/css" href="/../css/home.css">
</head>

<body>
    <figure>
        <img class="hero-image" src="/../media/blog.jpg" alt="Blog">
    </figure>
    <nav class="main-nav">
        <ul class="nav-links">
            <li><a class="links" href="/">Home</a></li>
            <li><a class="links" href="/post/">Posts</a></li>
            <li><a class="links" href="/author/">Authors</a></li>
            <li><a class="links" href="/genre/">Genres</a></li>
            <li><a class="links" href="/tag/">Tags</a></li>
        </ul>
    </nav>

    <main>
        <form class="form" th:action="|/tag/${tag.id}/addPostToTag|" method="post">
            <table>
                <tr>
                    <td> Post: <select name="postId">
                            <div th:each="post : ${posts}">
                                <div th:unless="${tag.checkPostsInTag(post)}">
                                    <option th:value="${post.id}" th:text="|Name: ${post.title}|">
                                    </option>
                                </div>
                            </div>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td><button type="submit">Submit</button></td>
                </tr>
            </table>
        </form>
    </main>
</body>

</html>