* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.hero-image {
  background-image: url("../media/blog.jpg");
  align-items: center;
  background-position: 50% 60%;
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 80vh;
  justify-content: center;
  position:relative;
  top: 2rem;
  z-index:1;
}

.hero-image-2nd {
  background-image: url("../media/blog.jpeg");
  align-items: center;
  background-position: 50% 40%;
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 40vh;
  justify-content: center;
  margin-top: 2rem;
  z-index:1;
}

body {
  background-color: red;
}

main {
margin-top: 1rem;
}

.nav-links {
  list-style-type: none;
  display:flex;
  flex-direction: row;
  margin-right: 5px;
}

.links{
  margin-left: 1rem;
}

.main-nav {
  position: absolute;
  top:0;
  right: 0;
}
